<div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
    <div class="wrapper wrapper--w960">
        <div class="card card-2">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">FEEDBACK</h2>
                <form method="POST">
                    <div class="input-group">
                        <input class="input--style-2" type="text" placeholder="Name" name="name">
                    </div>
                    <div class="row row-space">
                        <div class="input-group">
                            <input class="input--style-2" type="text" placeholder="Your Email" name="name">
                        </div>
                        <div class="input-group">
                            <input class="input--style-2" type="text" placeholder="Your Contact no" name="name">
                        </div>
                    </div>
                    <div class="input-group">
                        <input class="input--style-2" type="text" placeholder="Enter subject" name="name">
                    </div>
                    <div>
                        <textarea class="input--style-2" rows="3" cols="50" type="text" placeholder="Comment Here.." name="name">
                        </textarea>
                    </div>
                    <div class="p-t-30">
                        <button class="btn btn--radius btn--green" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
