<div class="container" style="width: 60%; padding-left: 10%; padding-top: 20px;">
    <h3>Buses</h3>
 
    <table class="table">
        <thead>
            <tr>
                <!-- <th>RBusId</th> -->
                <th>Source</th>
                <th>Destination</th>
                <th>DepartureTime</th>                            
               <th>ArrivalTime</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bb of buses">
                <!-- <td>{{ra.RBusId}}</td> -->
                <td>{{bb.Source}}</td>
                <td>{{bb.Destination}}</td>
                <td>{{bb.DepartureTime}}</td>
                <td>{{bb.ArrivalTime}}</td>
                <!-- <td *ngFor="let sc"></td> -->
                <td>
                    <!-- <button [routerLink]="['/update/', RentalBusDetails.id]">Update</button> -->
                    <button type="button" (click)="delete(ra.RBusId)">Remove</button>
                </td>
                 
               
            </tr>
        </tbody>
    </table>
</div>
