<div class="left-element">
    <div class="nav-side-menu">
      <div class="brand">BUSCLICK.COM</div>
      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    
          <div class="menu-list">
    
              <ul id="menu-content" class="menu-content collapse out">
                  <li>
                    <a routerLink="AdminHome">
                    <i class="fa fa-dashboard fa-lg"></i> Dashboard
                    </a>
                  </li>
    
                  <li  data-toggle="collapse" data-target="#products" class="collapsed ">
                    <a><i class="fa fa-bus fa-lg"></i>Manage Buses <span class="arrow"></span></a>
                  </li>
                  <ul class="sub-menu collapse" id="products">
                     
                      <li><a  routerLink="busadd">Add New</a></li>
                      <li><a routerLink="busmain">View All</a></li>
                     
                  </ul>
                  <li>
                      <a routerLink="busbooking">
                      <i class="fa fa-user fa-lg"></i> Bus Bookings
                      </a>
                  </li>
    
                  <li>
                      <a routerLink="rentalbooking">
                      <i class="fa fa-user fa-lg"></i> Rental Bookings
                      </a>
                  </li>
    
                  <li data-toggle="collapse" data-target="#new" class="collapsed ">
                      <a ><i class="fa fa-car fa-lg"></i>Manage Rental Buses <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="new">
                      <li><a routerLink="rentaladd">Add New</a></li>
                      <li><a routerLink="rentalmain">View All</a></li>
                    </ul>
                   
                    <li>
                      <a routerLink="viewFeedback">
                      <i class="fa fa-user fa-lg"></i> Feedbacks
                      </a>
                  </li>
                   

                    <li>
                      <a routerLink="">
                      <i class="fa fa-user fa-lg" routerLink></i> Sign Out
                      </a>
                  </li>     
              </ul>
       </div>
    </div>
    </div>
    <div class="right-element">
      <router-outlet></router-outlet>
    </div>
