<div class="about-section">
    <h1>About Us </h1>
    <p>-----OUR STORY-----</p>
    <p>We became fascinated by the idea of discovering the world.What if you could see your favourite place with our fantasy or watch the sunrise or sunset? It may sound crazy,but we wanted to build the closest thing.While there are many ways to discover events and places,we realised there is no better way to experience a thing than visiting .A picture may be worth a hundred words and a video may be of thousand words but the moments we live in can be a worth of our whole life.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div id="sec-pricing" class="sec-pricing" style="background-color: #edeae5;padding: 30px;">
    <div class="container">
     
      
      <div class="row justify-content-center">
        <div class="col-md-3">
          <div class="card text-center">
            <div class="card-block pt-3 pb-3">
              <h4 class="card-title h5">Sushant Bandgar</h4>  
              <h5 class="card-title h6">Team Leader</h5>  
              <img src="../../assets/sush1.jpg" style="height: 200px; width: 200px;">                  
            </div>
          </div>
        </div>
  
        <div class="col-md-3">
          <div class="card text-center">
            <div class="card-block pt-3 pb-3">
              <h4 class="card-title h5">Mansi Nimje</h4>  
              <h5 class="card-title h6">Art Director</h5>  
              <img src="../../assets/m2.jpg" style="height: 200px; width: 200px;">
            </div>
          </div>
        </div>
  
        <div class="col-md-3">
          <div class="card text-center">
            <div class="card-block pt-3 pb-3">
              <h4 class="card-title h5">Rakesh Kumar</h4>  
              <h5 class="card-title h6">Designer</h5>  
              <img src="../../assets/R.jpg" style="height: 200px; width: 200px;">
            </div>
          </div>
        </div>
  
        <div class="col-md-3">
          <div class="card text-center">
            <div class="card-block pt-3 pb-3">
              <h4 class="card-title h5">Satya Polisetti</h4>  
              <h5 class="card-title h6">Art Director</h5>  
              <img src="../../assets/sa.png" style="height: 200px; width: 200px;">
            </div>
          </div>
        </div>
        
      </div>
    </div>
</div>
