<!--<div class="container">
<table class="table table-bordered">
    <thead class="dark">
        <tr>
            <th scope="col">Source</th>
            <th scope="col">Destination</th>
            <th scope="col">Travel Date</th>
            <th scope="col">number of Seats</th>
            <th scope="col">Status</th>
            <th scope="col">Details</th>
        </tr>    
    </thead>
    <tbody>
        
    </tbody>
  </table>
</div>-->

<div class="card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-header">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Source</th>
                <th scope="col">Destination</th>
                <th scope="col">Travel Date</th>

                <th scope="col">Number of Seats</th>
                <th scope="col">Status</th>
                <th scope="col">Fare</th>
                <th scope="col">Booking Date</th>

                </tr>
                
            </thead>    
        </table>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <tbody>
                <tr *ngFor="let b of booking">
                    <td scope="row">{{b.BusRouteDetail.Source}}</td>
                    <td> {{b.BusRouteDetail.Destination}}</td>
                    <td>{{b.TravelDate}}</td>
                    <td>{{b.NoOfSeats}}</td>
                    <td>{{b.Status}}</td>
                    <td>{{b.Fare}}</td>
                    <td>{{b.BookingDate}}</td>

                </tr>
  
            </tbody>
            
        </table>
        

        
    </div>

     
</div>
