<br> <br>

<section class="search-sec">
    <div class="container" >
      <form [formGroup]="searchForm" (ngSubmit)="onsearch()" novalidate>
        <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-slt" formControlName="Source" id="">
                                <option value="" disabled selected>Source</option>
                                <option Value="Mumbai">Mumbai</option>
                                <option Value="Hyderabad">Hyderabad</option>
                                <option Value="Chennai">Chennai</option>
                                <option Value="Kerala">Kerala</option>
                                <option Value="Bangalore">Bangalore</option>
                                <option Value="Delhi">Delhi</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-slt" formControlName="Destination" id="">
                                <option value="" disabled selected>Destination</option>
                                <option Value="Hyderabad">Hyderabad</option>
                                <option Value="Mumbai">Mumbai</option>
                                <option Value="Delhi">Delhi</option>
                                <option Value="Goa">Goa</option>
                                <option Value="Bangalore">Bangalore</option>
                                <option Value = "Pune">Pune</option>
                            </select>
                        </div>
                        <!-- <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <input type="date" class="form-control search-slt" formControlName="Date"  onfocus="(this.type='date')" id="date">
                        </div> -->
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0" >  
                          <input class="form-control search-slt" placeholder="Date" type="text"  formControlName="Day" onfocus="(this.type = 'date')"  id="date">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <button type="submit" class="btn1 btn-danger wrn-btn" [disabled] ="!searchForm.valid">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<br> <br>
<div class="container">
<div class="card">
  
    <div class="card-body">
      
      <div class="table-responsive">
        <table class="table table-hover">
            <thead style="background-color: #226670; color: white;">
                <tr>
                    <th class="text-center"><span>Source</span></th>
                    <th class="text-center"><span>Destination</span></th>                               
                    <th class="text-center"><span>Departure Time</span></th>
                    <th class="text-center"><span>Arrival Time</span></th>  
                    <th class="text-center"><span>Fare</span></th>
                    <th class="text-center"><span>Select Seats</span></th>                                                  
                                                  
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let bus of buses">
                   
                    <td class="text-center">
                        <span class="label label-default">{{bus.Source}}</span>
                        
                    </td>
                    <td class="text-center">
                        <span class="label label-default">{{bus.Destination}}</span>
                    </td>
                   
                    <td class="text-center">
                        <span class="label label-default">{{bus.DepartureTime}}</span>
                       
                    </td>
                    <td class="text-center">
                        <span class="label label-default">{{bus.ArrivalTime}}</span>
                       
                    </td>
                    <td class="text-center">
                        <span class="label label-default">{{bus.FarePerSeat}}</span>
                       
                    </td> 
                    <td>
                        <button class="btn btn-primary center" type="button" data-toggle="collapse" data-target="#selectseats" aria-expanded="false" aria-controls="selectseats" (click)="onseatselect(bus.BusId)" >
                            Select Seats
                          </button>
                    </td>
                    
                </tr>
                
            </tbody>
           
        </table>
        
        

        </div>
        <form [formGroup]="seatForm"  novalidate>
          <div class="collapse" id="selectseats">
            <!-- <div class="card card-body" > -->
                <div class="container seato">
                    <div class="exit exit--front "></div>
                    <ol class="cabin fuselage" *ngFor = "let a of seats">                  
                    
                
                      <li class="row row--1">
                        <ol class="seats" type="A">
                          <li class="seat">
                            <input type="checkbox" id="1" formControlName="seatno1"/>
                            <label for="1" [ngStyle]="{'background-color': a.seatno1 == '1' ? 'red' : 'lightgrey'}" >01</label>
                          </li>
                          <li class="seat">
                            <input type="checkbox" id="2"  formControlName="seatno2"/>
                            <label for="2"  [ngStyle]="{'background-color': a.seatno2 == '1' ? 'red' : 'lightgrey'}">02</label>
                          </li>         
                          <li class="seat">
                            <input type="checkbox" id="3" formControlName="seatno3"/>
                            <label for="3" [ngStyle]="{'background-color': a.seatno3 == '1' ? 'red' : 'lightgrey'}" >03</label>
                          </li>
                          <li class="seat">
                            <input type="checkbox" id="4" formControlName="seatno4" />
                            <label for="4" [ngStyle]="{'background-color': a.seatno4 == '1' ? 'red' : 'lightgrey'}">04</label>
                          </li>
                        </ol>
                      </li>
                
                      <li class="row row--2">
                        <ol class="seats" type="A">
                          <li class="seat">
                            <input type="checkbox" id="5" formControlName="seatno5" />
                            <label for="5" [ngStyle]="{'background-color': a.seatno5 == '1' ? 'red' : 'lightgrey'}">05</label>
                          </li>
                          <li class="seat">
                            <input type="checkbox" id="6"  formControlName="seatno6"/>
                            <label for="6" [ngStyle]="{'background-color': a.seatno6 == '1' ? 'red' : 'lightgrey'}">06</label>
                          </li>
                          <li class="seat">
                            <input type="checkbox" id="7" formControlName="seatno7"/>
                            <label for="7" [ngStyle]="{'background-color': a.seatno7 == '1' ? 'red' : 'lightgrey'}">07</label>
                          </li>
                          <li class="seat">
                            <input type="checkbox" id="8" formControlName="seatno8"/>
                            <label for="8" [ngStyle]="{'background-color': a.seatno8 == '1' ? 'red' : 'lightgrey'}">08</label>
                          </li>
                        </ol>
                      </li>
                
                      <li class="row row--3">
                        <ol class="seats" type="A">
                          <li class="seat">
                            <input type="checkbox" id="9" formControlName="seatno9" />
                            <label for="9" [ngStyle]="{'background-color': a.seatno9 == '1' ? 'red' : 'lightgrey'}">09</label>
                          </li>
                          <li class="seat">
                            <input type="checkbox" id="10"  formControlName="seatno10"/>
                            <label for="10" [ngStyle]="{'background-color': a.seatno10 == '1' ? 'red' : 'lightgrey'}">10</label>
                          </li>
                          <li class="seat">
                            <input type="checkbox" id="11"  formControlName="seatno11"/>
                            <label for="11" [ngStyle]="{'background-color': a.seatno11 == '1' ? 'red' : 'lightgrey'}">11</label>
                          </li>
                          <li class="seat">
                            <input type="checkbox" id="12" formControlName="seatno12"/>
                            <label for="12" [ngStyle]="{'background-color': a.seatno12 == '1' ? 'red' : 'lightgrey'}">12</label>
                          </li> 
                        </ol>
                      </li>
                
                      <li class="row row--4">
                        <ol class="seats" type="A">
                          <li class="seat">
                            <input type="checkbox" id="13"  formControlName="seatno13"/>
                            <label for="13" [ngStyle]="{'background-color': a.seatno13 == '1' ? 'red' : 'lightgrey'}">13</label>
                          </li>
                          <li class="seat">
                            <input type="checkbox" id="14" formControlName="seatno14" />
                            <label for="14" [ngStyle]="{'background-color': a.seatno14 == '1' ? 'red' : 'lightgrey'}">14</label>
                          </li>
                          <li class="seat">
                            <input type="checkbox" id="15"  formControlName="seatno15"/>
                            <label for="15" [ngStyle]="{'background-color': a.seatno15 == '1' ? 'red' : 'lightgrey'}">15</label>
                          </li>
                          <li class="seat">
                            <input type="checkbox" id="16" formControlName="seatno16" />
                            <label for="16" [ngStyle]="{'background-color': a.seatno16 == '1' ? 'red' : 'lightgrey'}">16</label>
                          </li>          
                        </ol>
                      </li>
                
                      <li class="row row--5">
                        <ol class="seats" type="A">
                          <li class="seat">
                            <input type="checkbox" id="17" formControlName="seatno17"/>
                            <label for="17" [ngStyle]="{'background-color': a.seatno17 == '1' ? 'red' : 'lightgrey'}">17</label>
                          </li>
                          <li class="seat">
                            <input type="checkbox" id="18" formControlName="seatno18" />
                            <label for="18" [ngStyle]="{'background-color': a.seatno18 == '1' ? 'red' : 'lightgrey'}">18</label>
                          </li>
                          <li class="seat">
                            <input type="checkbox" id="19"  formControlName="seatno19"/>
                            <label for="19" [ngStyle]="{'background-color': a.seatno19 == '1' ? 'red' : 'lightgrey'}">19</label>
                          </li>
                          <li class="seat">
                            <input type="checkbox" id="20"  formControlName="seatno20"/>
                            <label for="20" [ngStyle]="{'background-color': a.seatno20 == '1' ? 'red' : 'lightgrey'}">20</label>
                          </li>
                        </ol>
                      </li>
                
                      <li class="row row--6">
                        <ol class="seats" type="A">
                          <li class="seat">
                            <input type="checkbox" id="21" formControlName="seatno21"/>
                            <label for="21" [ngStyle]="{'background-color': a.seatno21 == '1' ? 'red' : 'lightgrey'}" >21</label>
                          </li>
                          <li class="seat">
                            <input type="checkbox" id="22"  formControlName="seatno22"/>
                            <label for="22" [ngStyle]="{'background-color': a.seatno22 == '1' ? 'red' : 'lightgrey'}">22</label>
                          </li>
                          <li class="seat">
                            <input type="checkbox" id="23"  formControlName="seatno23" />
                            <label for="23" [ngStyle]="{'background-color': a.seatno23 == '1' ? 'red' : 'lightgrey'}">23</label>
                          </li>
                          <li class="seat">
                            <input type="checkbox" id="24" formControlName="seatno24" />
                            <label for="24" [ngStyle]="{'background-color': a.seatno24 == '1' ? 'red' : 'lightgrey'}">24</label>
                          </li>  
                        </ol>
                      </li>
                    </ol>
                    <button class="btn btn-primary" type="submit"  data-toggle="collapse" data-target="#passengerdetails" aria-expanded="false" aria-controls="selectseats" style= "margin-left: 25px;" (click)="onarray()">
                        Proceed to Booking
                     </button>
                    
                </div>
            <!-- </div> -->
           
          </div>
        </form> 
        <div class="collapse" id="passengerdetails">
          <form [formGroup] ='passengerDetails' (ngSubmit)="onbooked()"  novalidate>
            <div class="container" style="width: 400px;" >
                <h4 style="text-align: center; padding-top: 5px;">Passenger Details</h4>
                <!-- <div *ngFor = "let i of unique_seats" class="form-group card" > -->
                  <!-- <p style="text-align: center; padding-top: 5px;"><b>Details for {{i}}</b></p> -->
                 
                    <h4>Contact Details</h4>
                  <div class="card card-body">
                    <div class="form-group " >
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email" formControlName='Email'>
                      </div>
                      <div class="form-group " >
                        <label for="contact_no">Contact Number</label>
                        <input type="text" class="form-control" id="contact_no" placeholder="Conact Number" formControlName='ContactNo'>
                      </div>
                  </div>
                  </div>
                  <div formArrayName = 'individualDetails' *ngFor = "let user of passengerDetails.get('individualDetails')['controls']; let i = index;"> 
                    <div class="card-body">
                      <div [formGroupName]="i">
                    <label for="name">Full Name</label> 
                    <input type="text" class="form-control" id="name" placeholder="Full Name" formControlName='Name'>
                  <div class="row">
                    <div class="form-group col col-sm">
                        <label for="gender">Gender</label>
                        <select class="form-control" id="gender" formControlName='Gender'>
                          <option>Select</option>
                          <option>Male</option>
                          <option>Female</option>
                          <option>Other</option>
                        </select>
                      </div>
            
                      <div class="form-group col col-sm">
                        <label for="age">Age</label>
                        <input type="number" class="form-control" id="age" placeholder="Age" formControlName='Age'>
                      </div>
                      <button type="button" (click)='adddetails()'>Add</button>
                  </div>
                </div>
                    </div>
              
        
                
                <!-- </div> -->
                  <div>
                    <p *ngFor = "let bus of buses" style="text-align: center; padding-top: 5px;">
                     <b>Final Fare:{{ bus.FarePerSeat * unique_seats.length }}</b></p>
                    <button type="submit" class="btn btn-block" (click)="onbooked()">Book your tickets</button>
                  </div>
                    
        
            </div>
              
          </form>
        </div>

    </div>
  </div>
</div>
