<div class="col-sm-6" style="margin-left: 500px;margin-top:90px ;">
    <div class="card" style="background-color: #edeae5;">
        <div class="card-body">
            <h3 class="card-title" style="background-color: #026670; color: white; padding: 5px;">HELLO ADMIN,</h3>
              <h5 class="card-text" style="text-align: center; padding: 15px;">Manage Your Business Here</h5>
            <img class="float-right" src="../../assets/admin1.jpeg"  alt="sans"   width=695px/>
        </div>
    </div>
</div>    