<div class="container" style="width: 60%; padding-left: 6%; padding-top: 20px;">
    <h3>Bus Bookings</h3>
 
    <table class="table">
        <thead>
            <tr>
                <th>TicketId</th>
                <th>BusId</th>
                <th>Email</th>
                <!-- <th>Source</th>
                <th>Destination</th> -->
                <th>Status</th>
                <th>Fare</th>
                <th>NoOfSeats</th>                            
               <th>BookingDate</th>
               <th>TravelDate</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let booking of bookings">
                <td>{{booking.TicketId}}</td>                                  
                <td>{{booking.BusId}}</td>
                <td>{{booking.Email}}</td>
                <!-- <td *ngFor="let bus of buses">{{bus.Source}}</td>
                <td *ngFor="let bus of buses">{{bus.Destination}}</td> -->
                <td>{{booking.Status}}</td>
                <td>{{booking.Fare}}</td>
                <td>{{booking.NoOfSeats}}</td>
                <td>{{booking.BookingDate}}</td>
                <td>{{booking.TravelDate}}</td>
            </tr>
        </tbody>
    </table>
</div>
