input:focus{
    border:3px solid #EDEAE5;
    outline: none;
    box-shadow: none;
}
button{
    background-color: #FEF9C7;
    
}
button:focus{
    background-color: #FCE181;
    outline: none; 
    box-shadow: none;
}