<div class="container w-50">
    <label for="OldPassword" class="form-label">Enter your old password:</label>
    <input type="text" class="form-control" name="OldPassword">
    <br> <br>
    <label for="NewPassword" class="form-label">Enter a New  password:</label>
    <input type="text" class="form-control" name="NewPassword">
    <br>
    <label for="ConfirmPassword" class="form-label">Enter confirm password:</label>
    <input type="text" class="form-control" name="ConfirmPassword">
    <br>
    <button type="button" class="btn">Change Password</button>

</div>