<header>
    <nav class="navbar  navbar-expand-lg navbar-light top-navbar" data-toggle="sticky-onscroll">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="../../assets/BusclicklogoFinal.png" style="height: 80px; width: auto;" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>       
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav pull-right">
          <li class="nav-item">
            <a class="nav-link" routerLink=''>Home</a>
          </li>
          <li class="nav-item" *ngIf = !User>
            <a class="nav-link" routerLink='Login'>Hire Bus</a>
          </li>
          <li class="nav-item" *ngIf = User>
            <a class="nav-link" routerLink='HireBus'>Hire Bus</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="Feedback">Feed Back</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='AboutUs'>AboutUs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='Register' *ngIf="!User">Sign Up</a>
          </li>
        
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="User">
              Dashboard
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="Profile">Profile</a>
              <a class="dropdown-item" routerLink="MyBooking">My Bookings</a>
              <a class="dropdown-item" routerLink="ChangePassword">Change Password</a>
              <a class="dropdown-item" routerLink="Wallet">My Wallet</a>
              
            </div>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary" style="background-color: #fce181; color: black; border-radius: 0%;" routerLink='Login' *ngIf="!User">Login</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary" style="background-color: #fce181; color: black; border-radius: 0%;" routerLink='Home' (click)="logout()" *ngIf="User">Logout</a>
          </li>

        </ul>       
        </div>
      </div>
    </nav>     
  </header>
  <!-- <router-outlet></router-outlet> -->
  <!-- <footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          
          <div class="footer-pad">
              <h2>About BusClick</h2>
              <ul class="list-unstyled">
                <li><a routerLink='AboutUs'>About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a routerLink='Feeback'>Feedback</a></li>
                <li><a routerLink='AdminLogin' *ngIf="!Email" >AdminLogin</a></li>  
              </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-pad">
              <h2>Info</h2>
              <ul class="list-unstyled">
                  <li><a href="#">T&C</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Cookie Policy</a></li>
                  <li><a href="#">FAQs</a></li>
                  <li><a href="#">Blog</a></li>
                </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-pad">
              <h2>Sites</h2>
              <ul class="list-unstyled">
                <li><a href="#">Kolkata</a></li>
                <li><a href="#">Mumbai</a></li>
                <li><a href="#">Delhi</a></li>
                <li><a href="#">Hyderabad</a></li>
                <li><a href="#">Vishakapatnam</a></li>
                <li><a href="#">Chennai</a></li>
                <li><a href="#">Bangalore</a></li>
                <li>
                <a href="#"></a>
              </li>
            </ul>
          </div>
        </div>
          <div class="col-md-3">
              <h2>Follow Us</h2>
              <ul class="social-network social-circle">
               <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
              </ul>				
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 copy">
              <p class="text-center">&copy; Copyright 2021  - BusClick.com  All rights reserved.</p>
          </div>
      </div>     
    </div>
    </div>
  </footer> -->
