<div class="container" style="width: 60%; padding-left: 6%; padding-top: 20px;">
    <h3>Rental Bus Bookings</h3>
 
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <!-- <th>RBusId</th> -->
                <th>Start Date</th>
                <th>End Date</th>
                <th>Booking Date</th>
                <!-- <th>Bookingtime</th> -->
                <th>Email</th>                            
               <th>Drivers Need</th>
               <th>Final Fare</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rb of rentalbookings">
                <td>{{rb.RBBId}}</td>                                  
                <!-- <td>{{ra.RBusId}}</td> -->
                <td>{{rb.StartDate}}</td>
                <td>{{rb.EndDate}}</td>
                <td>{{rb.BookingDate}}</td>
                <!-- <td>{{rb.Bookingtime}}</td> -->
                <td>{{rb.Email}}</td>
                <td>{{rb.DriversNeed}}</td>
                <td>{{rb.FinalFare}}</td>
            </tr>
        </tbody>
    </table>
</div>
