    <div class=" font-robo" >
        <div class="">
            <div class="card card-2">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Register Here</h2>
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
                        
                        <div class="row row-space">
                            <div class="input-group">
                                <input id="FirstName" formControlName="FirstName" class="input--style-2" type="text" placeholder="Enter FirstName" name="FirstName">
                            </div>
                            <div class="validcheck" *ngIf="!FirstName?.valid && (FirstName?.dirty || FirstName?.touched)">
                                <div  class="em" [hidden]="!FirstName.errors.required">FirstName is required</div>
                                
                            </div>
                           </div> 

                           <div class="row row-space">
                            <div class="input-group">
                                <input id="LastName" formControlName="LastName" class="input--style-2" type="text" placeholder="Enter LastName" name="LastName">
                            </div>
                            <div class="validcheck" *ngIf="!LastName?.valid && (LastName?.dirty || LastName?.touched)">
                                <div  class="em" [hidden]="!LastName.errors.required">LastName is required</div>
                                
                            </div>
                           </div> 
                           
    
    
                        <div class="row row-space">
                            <div class="input-group">
                                <input id="Email" formControlName="Email" class="input--style-2" type="text" placeholder="Enter Email" name="Email">
                            </div>
                            <div class="validcheck" *ngIf="!Email?.valid && (Email?.dirty || Email?.touched)">
                                <div  class="em" [hidden]="!Email.errors.required">Email is required</div>
                                <div   class="em" [hidden]="!Email.errors.Email">Invalid Email id</div>
                            </div>
                           </div> 
    
    
                           <div class="row row-space">
                            <div class="input-group">
                                <input id="password" formControlName="password" class="input--style-2" type="password" placeholder="Enter password" name="password">
                            </div>
                            <div class="validcheck" *ngIf="!password?.valid && (password?.dirty || password?.touched)">
                                <div  class="em" [hidden]="!password.errors.required">password is required</div>
                                <div   class="em" [hidden]="!password.errors.minlength">Minimum length is 10</div>
                            </div>
                           </div> 
    
    
                           <div class="row row-space">
                            <div class="input-group">
                                <input id="ContactNo" formControlName="ContactNo" class="input--style-2" type="text" placeholder="Enter ContactNo" name="ContactNo">
                            </div>
                            <div class="validcheck" *ngIf="!ContactNo?.valid && (ContactNo?.dirty || ContactNo?.touched)">
                                <div  class="em" [hidden]="!ContactNo.errors.required"> Contact is required </div>
                                <div  class="em" [hidden]="!ContactNo.errors.pattern">invalid Contact</div>
                            </div>
                            </div>
    
    
                            <div class="row row-space">
                                <label for="Gender" class="input--style-2"> Gender</label> 
                            <select class="form-control" name="Text" id="Gender" formControlName="Gender" placeholder="Enter Gender"><br>
                               
                                <option value="Male" name="Male">Male</option>
                                <option value="Female" name="Female">Female</option>
                                <option value="No" name="No">Prefer Not To Say</option>
                            </select>
                            <div class="validcheck" *ngIf="!Gender?.valid && (Gender?.dirty || Gender?.touched)">
                                <div  class="em" [hidden]="!Gender.errors.required">Gender is required</div>
                                
                            </div>
                            </div><br>
                            <!-- <div class="row row-space">
                                <div class="input-group">
                                    <input id="Gender" formControlName="Gender" class="input--style-2" type="text" placeholder="Enter Gender" name="Gender">
                                </div>
                                <div class="validcheck" *ngIf="!Gender?.valid && (Gender?.dirty || Gender?.touched)">
                                    <div  class="em" [hidden]="!Gender.errors.required">Gender is required</div>
                                    
                                </div>
                               </div>  -->

    
                            <div class="row row-space">
                                <div class="input-group">
                                    <label for="DateOfBirth" class="input--style-2"> Date Of  Birth</label>
                                    <input id="DateOfBirth" formControlName="DateOfBirth" class="input--style-2" type="date" placeholder="Enter Date Of Birth" name="DateOfBirth">
                                </div>
                                <div class="validcheck" *ngIf="!DateOfBirth?.valid && (DateOfBirth?.dirty || DateOfBirth?.touched)">
                                    <div  class="em" [hidden]="!DateOfBirth.errors.required"> DateOfBirth is required </div>
                                </div>
                                </div>
                                <!-- <div class="row row-space">
                                    <div class="input-group">
                                        <input id="DateOfBirth" formControlName="DateOfBirth" class="input--style-2" type="text" placeholder="Enter DateOfBirth" name="DateOfBirth">
                                    </div>
                                    <div class="validcheck" *ngIf="!DateOfBirth?.valid && (DateOfBirth?.dirty || DateOfBirth?.touched)">
                                        <div  class="em" [hidden]="!DateOfBirth.errors.required">Gender is required</div>
                                        
                                    </div>
                                   </div>  -->
    
                                <div class="row row-space">
                                    <div class="input-group">
                                        <input id="Address" formControlName="Address" class="input--style-2" type="text" placeholder="Enter Address " name="Address">
                                    </div>
                                    <div class="validcheck" *ngIf="!Address?.valid && (Address?.dirty || Address?.touched)">
                                        <div class="em" [hidden]="!Address.errors.required">
                                            Address is required
                                        </div>
                                        </div>
                                        </div>
    
                            
    
                        <div class="p-t-30">
                            <button style="width:150px; color: black;"  class="btn btn--radius btn--green" type="submit" [disabled] ="!registerForm.valid">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>  


